---
title: Articles
description: |
  My writing on Turbo Native, Ruby on Rails, and building transparent
  businesses.
permalink: /articles/

---

<%= render UI::SimpleLayout.new(
  title: "My writing on app development related activities.",
) do %>
  <div class="flex max-w-3xl flex-col space-y-12">
    <%= render Article.new(collections.posts.resources.first, hide_date: true, badge: :new) %>
  </div>
<% end %>

<%= render UI::SimpleLayout.new() do %>
  <h3 class="mb-6 text-xl font-bold text-zinc-900">
    Older posts
  </h3>
  
  <div class="md:border-l md:border-zinc-100 md:pl-6">
    <div class="flex max-w-3xl flex-col space-y-16">
      <% collections.posts.resources.sort_by { |r| r.data.date }.reverse.each do |post| %>
        <%= render Article.new(post) %>
      <% end %>
    </div>
  </div>
<% end %>
