---
title: Services
description: |
  I've been working professionally with mobile app technologies since 2015. 
  Since then I've been working and released a dozen mobile application and 
  teaching people mobile app development. 
permalink: /services/

image: /images/pages/services.png

---

<%= render UI::SimpleLayout.new(
  title: "Ready to bring your app ideas to reality.",
  intro: resource.data.description
) do %>
  <div class="flex max-w-xl flex-col space-y-16">
    <% site.data.services.each do |service| %>
      <%= render Service.new(**{href: site.data.socials.email.href}.merge(service).to_options) %>
    <% end %>
  </div>
<% end %>
