<div class="flex justify-start items-center mt-16">
  <img src="/images/bagus.jpg" class="rounded-full h-24 w-24 sm:h-32 sm:w-32">

  <div class="flex flex-col -space-y-0.5 text-sm sm:text-base text-zinc-600 ml-6">
    <div>Thanks,</div>
    <div>Bagus Aji Santoso</div>
    <a href="https://twitter.com/gusajisan" class="font-semibold underline">@gusajisan</a>
    <a href="mailto:lobolobothijaubthijau@gmail.com" class="font-semibold underline">lobothijau@gmail.com</a>
  </div>
</div>
